<div class="row">
    <div class="col-sm-9">
        <h1><%= @course[:title] %></h1>
        <p><%= @course[:location] %></p>
        <p><%= @course[:phone] %></p>
        <p><%= @course[:website] %></p>
        <p><%= @course[:rate] %></p>
        <p><%= @course[:range] %></p>

        <% for review in @reviews %>
            <div class="media">
                <% if review[:recommend] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: review[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if it's my review -->
                            <% if @current_user && @current_user[:id] == review[:user_id] %>
                                (<a href="/reviews/<%= review[:id] %>/edit">edit</a> | <a href="/reviews/<%= review[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </h5>
                    <%= review[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/courses/<%= @course[:id] %>/reviews/new" class="btn btn-primary">Review Now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to Review</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>How many Golfers recommend this course?</h3>
        <p><%= @recommend_count %></p>
    </div>
</div>