<div class="row">
    <div class="col-sm-6">
        <h1><%= @course[:name] %></h1>
            <p><%= @course[:location] %></p>
            <p><%= @course[:phone] %></p>
            <p><%= @course[:rate] %></p>
            <p><%= @course[:range] %></p>

        <h2>Reviews</h2>
    <div class="col-sm-6">

    </div>
</div>
    