<div class="row">
    <div class="col-sm-6">
        <h1><%= @course[:name] %></h1>
            <p><%= @course[:location] %></p>
            <p><%= @course[:phone] %></p>
            <p><%= @course[:rate] %></p>
            <p><%= @course[:range] %></p>

        <h2>Reviews</h2>
    <div class="mt-5">
        <a href="/courses/<%= @course[:id] %>/reviews/new" class="btn btn-primary">Review Now!</a>
    </div>
    
        <div class="col-sm-6">
            <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
        <a href="/courses/<%= @course[:id] %>/reviews/new" class="btn btn-primary">Review Now!</a>
    </div>
    
        <div class="col-sm-6">
            <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
              
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
          &q=<%= @lat_long %>&zoom=6" allowfullscreen>
            </iframe>
    </div>
</div>          
    